.banner_img {
    position: absolute;
    top: 152px;
    left: 414px;
    z-index: 0;
}
.banner {
    background-color: #F8FAFF;
    display: flex;
    justify-content: space-between;
    height: 784px;
    
}