.order {
    display: flex;
    flex-direction: column;
    gap: 71px;
    z-index: 1;
    margin-right: 32px;
    margin-top: 36px;
}
.order-form {
    width: 358px;
    height: 500px;
    padding: 20px;
    border: 1px solid #a0aece;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    padding: 0;     
}

.order-form h3 {
    display: flex;
    align-items: center;
    gap: 17px;
    color: var(--Colour-DarkBlue, #1D253C);
    font-family: "Intro";
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 31px;
    margin-left: 30px;
    margin-bottom: 19px;
}


.order-form__types {
    display: flex;
    flex-wrap: nowrap;
    margin: 25px 32px;
   
}

.order-form__types button {
    background-color: #f7f9ff;
    border: 2px solid #d1d9f2;
 
    width: 96px;
    height: 84px;
    color: var(--Colour-DarkBlue, #1D253C);
    text-align: center;
    font-family: "Intro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}


/* Левая кнопка */
.order-form__types button:first-child  {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    gap: 10px;
   
}
.order-form__types button:first-child  img {
    padding-top: 10px;
}
/* Центральная кнопка */
.order-form__types button:nth-child(2) {
    border-radius: 0;
    
}

/* Правая кнопка */
.order-form__types button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Стили для активной кнопки */
.order-form__types button.active {
    background-color: #dde5ff;
    color: #1a73e8;
    border-color: #1a73e8;
}



.order-form__types button:hover,
.order-form__types button.active {
    background-color: #dde5ff;
    color: #1a73e8;
    border-color: #1a73e8;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;   
    margin-top: 34px;
}
.container img{
    width: 24px;
    height: 112px;
    position: relative;
    top: 9px;
}
.location {
    margin: 0; 
    text-align: left;
    color: #C4CEE5;
    font-family: "Intro";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}
.Pickup{
    display: flex;
    flex-direction: column;

}
.drop_loc {
    margin-top: 38px;
}
.order-form input {
    width: 256px;
    height: 34px;
    margin-top: 35px; 
    padding: 0px;
    border: none;
    border-bottom: 1px solid #d1d9f2;
    font-size: 14px;
    color: #333;
    margin-top: 0;
   
}

.order-form input::placeholder {
    color: #a0aece;
}

.order-form__submit {
    width: 296px;
    height: 48px;
    margin: 40px 3px 10px 0px;
    padding: 12px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 37px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-form__submit:hover {
    background-color: #155bb5;
}

.order-form button.clear-all {
    width: calc(100% - 40px);
    
    padding: 5px;
    font-size: 14px;
    color: #6576a3;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.track {
    width: 360px;
    height: 144px ;     

    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FFDD2D;
}

.clear-all {
    margin: 0;
    color: #999;
    font-family: "Intro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.loc {
    color: var(--Colour-DarkBlue, #1D253C);
    font-family: "Intro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display:flex;
    justify-content: flex-start;
    margin-top: 24px;
    margin-left: 20px;
    margin-left: 39px;
}

.track_pcg {
    width: 276px;
    height: 39px;
    border-radius: 4px;
    background: #FFF;
    border: 0;
    position: relative;
}
 .track-icon {
    position: relative;
    left: -29px;
    top: 2px;
    pointer-events: none;
 }
 .track-wrapper {
    padding-left: 18px;
}
