.service {
    display: flex;
    flex-direction: column;
    
    width: 375px;
}
.work_in {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.work_in h1 {
    color: var(--Colour-DarkBlue, #1D253C);

   
    font-family: "Intro Bold";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.work_in p{
    color: #666;
    width: 360px;
    
    font-family: "Intro Book";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.work_in a{ 
    color: var(--Colour-Blue, #2B6BF3);
    font-family: "Intro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.how_it h2 {
    color: var(--Colour-DarkBlue, #1D253C);

text-align: left;
font-family: "Intro Regular";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px; 

}

.how_it video {
    border-radius: 8px;
    width: 374px;
    height: 232px;

}