.service {
    display: flex;
    flex-direction: column;
    margin-left: 104px;
    margin-top: 30px;
    width: 375px;
    z-index: 1;
}
.work_in {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.work_in h1 {
    color: var(--Colour-DarkBlue, #1D253C);

   margin-bottom: 20px;
    font-family: "Intro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.work_in p{
    color: #666;
    width: 360px;
    margin-bottom: 33px;
    font-family: "Intro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.work_in a{ 
    color: var(--Colour-Blue, #2B6BF3);
    font-family: "Intro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 64px;
}

.how_it h2 {
    color: var(--Colour-DarkBlue, #1D253C);
    margin-bottom: 23px;
text-align: left;
font-family: "Intro";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px; 

}

.how_it iframe {
    border-radius: 8px;
    width: 372px;
    height: 230px;

}